/* PT Sans */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #333333;

  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.page-wraper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* header */
.page-header {
  display: flex;
  width: 1060px;
  min-height: 64px;
  padding: 0 70px;
}

.navigation-logo {
  z-index: 1;

  display: block;
  height: 64px;
  margin-right: 28px;
}

.page-header-logo {
  display: block;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 339px;
  margin: 0;
  margin-right: auto;
  padding: 0;

  list-style: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.active-page {
  position: relative;
  z-index: 1;

  text-decoration: 2px underline;

  text-decoration-color: #756257;
  text-underline-offset: 19px;
  text-underline-position: under;
}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  min-width: 88px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.search {
  display: block;
  padding: 22px 12px;
}

.search::before {
  content: "";

  display: block;
  min-width: 20px;
  min-height: 20px;

  background-image: url(../images/search-icon.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.favorites {
  display: flex;
  padding: 22px 12px;

  text-decoration: none;
}

.favorites::before {
  content: "";

  display: block;
  min-width: 20px;
  min-height: 20px;

  background-image: url(../images/favorites-icon.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.count {
  position: absolute;

  display: block;
  box-sizing: border-box;
  min-width: 20px;
  min-height: 20px;
  margin-top: -9px;
  margin-left: 8px;
  padding: 5px;

  font-size: 10px;
  line-height: 10px;
  color: #ffffff;

  background-color: #7db54f;
  border-radius: 1000px;
}

.navigation-button {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: -5px;
  margin-left: 20px;
}

.navigation-user-button {
  display: block;
  box-sizing: border-box;
  min-width: 160px;
  min-height: 36px;
  margin-bottom: 5px;
  padding: 8px 34px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border-radius: 4px;
}

/* main */
.main-index {
  flex-grow: 1;
  width: 100%;
}

/* hero */
.hero {
  box-sizing: border-box;
  min-height: 485px;
  padding: 51px 70px;

  background-image: url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;

  -webkit-mask-image: linear-gradient(#000000, #000000), url(../images/hero-bg-mask.svg);
          mask-image: linear-gradient(#000000, #000000), url(../images/hero-bg-mask.svg);
  -webkit-mask-position: top, bottom;
          mask-position: top, bottom;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% calc(100% - 57px), 100% 58px;
          mask-size: 100% calc(100% - 57px), 100% 58px;
}

.welcome {
  display: block;
  margin: 0 auto;
}

/* advantages */
.advantages-lead {
  padding: 69px 70px;
}

.advantages-lead.middle {
  padding: 64px 70px;
}

.advantages-img {
  display: block;
  min-height: 100%;

  object-fit: cover;
  object-position: 50% 50%;
}

.advantages-lead h2 {
  max-width: 620px;
  margin: 0 auto;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  overflow-wrap: break-word;
}

.advantages-lead.middle h2 {
  max-width: 505px;
  margin-bottom: 20px;
}

.advantages-lead .description {
  width: 651px;
  margin: 0 auto;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-lead.middle .description {
  max-width: 490px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.advantages-item:not(.wide),
.advantages-item .wrapper {
  box-sizing: border-box;
  width: 400px;
  padding: 102px 85px;
}

.advantages-item.wide {
  display: flex;
  width: 1200px;
}

.advantages-item.wide:last-of-type {
  flex-direction: row-reverse;
}

.advantages-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item .wrapper {
  width: 400px;

  color: #ffffff;

  background-color: #82b3d3;
}

.advantages-item h3 {
  max-width: 175px;
  margin: 0 auto;

  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item h3::after {
  content: "";

  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto;

  background-color: rgba(0, 0, 0, 0.3);
}

.wrapper h3 {
  color: #ffffff;

  background-color: #82b3d3;
}

.wrapper h3::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item p {
  max-width: 230px;
  margin: 0 auto;

  text-align: center;
}

.part-2 .advantages-item {
  display: block;
  box-sizing: border-box;
  width: 400px;
  padding: 81px 85px;
}

.part-2 .advantages-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.part-2 .advantages-item:nth-child(2n) {
  background-color: #ffffff;
}

.part-2 h3 {
  margin-bottom: 30px;
}

.part-2 h3::after {
  display: none;
}

.part-2 h3::before {
  content: "";

  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.part-2 h3.home::before {
  content: url(../images/advantages-icon/home-icon.svg);
}

.part-2 h3.food::before {
  content: url(../images/advantages-icon/food-icon.svg);
}

.part-2 h3.souvenirs::before {
  content: url(../images/advantages-icon/souvenirs-icon.svg);
}

/* search hotel */
.search-hotel {
  padding: 96px 70px;
}

.search-hotel h2 {
  max-width: 592px;
  margin: 0 auto;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.search-hotel .description {
  width: 592px;
  margin: 0 auto;
  margin-bottom: 54px;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search-hotel-button {
  display: block;
  box-sizing: border-box;
  width: 376px;
  margin: 0 auto;
  padding: 8px 50px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border-radius: 4px;
}


/* subscribe */
.subscribe {
  box-sizing: border-box;
  min-height: 414px;
  padding: 96px 70px 104px;
}

.subscribe.main {
  background-color: #3f5e72;
  background-image: url(../images/subscribe-bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.subscribe h2 {
  max-width: 475px;
  margin: 0 auto;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.subscribe .description {
  max-width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe.main h2,
.subscribe.main .description {
  color: #ffffff;
}

.newsletter-form {
  display: flex;
  max-width: 684px;
  margin: 0 auto;
}

.field {
  box-sizing: border-box;
  min-width: 452px;
  min-height: 52px;
  padding-left: 20px;

  font-size: 18px;
  line-height: 24px;
  font-family: inherit;

  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.field::placeholder {
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
}

.newsletter-button {
  box-sizing: border-box;
  width: 232px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #82b3d3;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

/* footer */
.page-footer {
  box-sizing: border-box;
  width: 100%;
  padding: 40px 70px 30px;
}

.page-footer-contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1060px;
  margin: 0 auto;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 142px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-item {
  max-height: 40px;
}

.social-link {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 13px;
}

.social-icon {
  display: block;
}

.page-footer address {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -10px;

  font-style: normal;
  font-size: 40px;
  line-height: 40px;
}

.phone {
  display: inline-block;
  margin-bottom: 10px;

  color: #000000;
  text-decoration: none;
}

.academy-logo {
  display: block;
}

/* main catalog */
.main-catalog {
  flex-grow: 1;
  width: 100%;
}

.main-catalog-header {
  min-width: 412px;

  background-image: url(../images/filter-bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.main-catalog-contain {
  box-sizing: border-box;
  max-width: 1060px;
  padding: 35px 70px 70px;
}

.main-catalog-header h1 {
  margin: 0;
  margin-bottom: 8px;

  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 114px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
}

.back-to-home {
  display: block;
  width: 13px;
  height: 15px;
  margin: auto 0;
  padding: 3px 0;

  background-image: url(../images/breadcrumbs-home-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-item,
.breadcrumbs-item a {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-item {
  display: flex;
}

.breadcrumbs-item::after {
  content: url(../images/breadcrumbs-separator-icon.svg);

  display: block;
  width: 8px;
  height: 20px;
  margin: auto 10px;
}

.breadcrumbs-item:last-child::after {
  display: none;
}

/* filter */
.filter {
  width: 1060px;
}

.filter-product {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.filter-group {
  max-width: 150px;
  margin: 0;
  padding: 0;

  border: none;
}

.filter-left-group {
  display: flex;
  justify-content: space-between;
  width: 370px;
}

.filter-left-group .filter-group {
  max-width: 150px;
}


.filter-right-group {
  display: flex;
  justify-content: space-between;
  width: 549px;
}

.filter-group-title h3 {
  margin: 0;
  margin-bottom: 32px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.filter-group-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-group-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  line-height: 23px;
  color: #ffffff;
}

.filter-group-price-list {
  display: flex;
  justify-content: space-between;
  width: 288px;
  margin: 0;
  margin-bottom: 36px;
  padding: 0;

  list-style: none;
}

.price-zone {
  display: flex;
  align-items: center;
  width: 143px;
  height: 48px;

  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  color: rgba(0, 0, 0, 0.3);

  background-color: #ffffff;
}

.price-zone-input,
.price-zone-input::placeholder {
  box-sizing: border-box;
  width: 106px;
  height: 48px;
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  color: #000000;

  border: none;
}

.price-zone-input {
  padding-left: 20px;
}

.filter-group-price-item:first-child .price-zone,
.filter-group-price-item:first-child .price-zone-input {
  border-radius: 4px 0 0 4px;
}

.filter-group-price-item:last-child .price-zone,
.filter-group-price-item:last-child .price-zone-input {
  border-radius: 0 4px 4px 0;
}

.price-range {
  width: 100%;
}

.filter-group-button-list {
  width: 191px;
  margin: 0;
  margin-top: 56px;
  padding: 0;

  list-style: none;
}

.filter-group-button-item:not(:last-child) {
  margin-bottom: 32px;
}

.apply-button {
  width: 100%;
  height: 36px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reset-button {
  width: 100%;
  height: 36px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* sorting */
.catalog {
  width: 1060px;
  margin: 0 auto;
  padding: 50px 70px 60px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sorting-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 522px;
}

.sorting p {
  margin: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  height: 49px;
  padding-left: 18px;

  font-size: 18px;
  line-height: 21px;
  font-family: inherit;
  color: #333333;

  border-radius: 4px;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 168px;
  margin: 0;
  margin-left: -8px;
  padding: 0;

  list-style: none;
}

.sorting-item {
  margin-left: 8px;
}

.sorting-btn {
  width: 48px;
  height: 48px;

  background-color: transparent;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  cursor: pointer;
}

.sorting-btn.card-mode {
  background-image: url(../images/card-mode.svg);
  background-repeat: no-repeat;
  background-size: 16px 14px;
}

.sorting-btn.card-desc-mode {
  background-image: url(../images/card-desc-mode.svg);
  background-repeat: no-repeat;
  background-size: 16px 14px;
}

.sorting-btn.list-mode {
  background-image: url(../images/list-mode.svg);
  background-repeat: no-repeat;
  background-size: 16px 14px;
}

.sorting-btn.active {
  border-color: #000000;
}

/* catalog card */
.product-card-list {
  display: grid;
  width: 100%;
  margin: 0;
  margin-bottom: 40px;
  padding: 40px 0;

  list-style: none;

  border-bottom: 1px solid #e6e6e6;

  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.product-card-item {
  display: grid;
  box-sizing: border-box;
  width: 340px;
  padding: 20px;

  border: 1px solid #e6e6e6;
  border-radius: 4px;

  gap: 16px 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 212px 1fr;
}

.card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;

  grid-column: 1 / -1;
}

.card-title h4 {
  margin: 0;
}

.card-img {
  display: block;
  width: 300px;
  margin: 0;

  grid-column: 1 / -1;
  grid-row: 1 / 2;
  object-fit: cover;
}

.card-img img {
  display: block;
}

.card-price {
  text-align: end;
}

.card-more-button {
  display: block;
  box-sizing: border-box;
  width: 140px;
  height: 36px;
  padding: 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border-radius: 4px;
}

.favorites-button {
  box-sizing: border-box;
  width: 140px;
  height: 36px;
  padding: 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.favorites-button.added {
  background-color: #7db54f;
}

.rate {
  box-sizing: border-box;
  width: 140px;
  height: 37px;
  margin: 0;
  padding: 9px 0 8px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border-radius: 4px;
}

.four-star::before {
  content: url(../images/rating-icon/rating-4-star.svg);

  display: block;
  width: 140px;
  height: 37px;
}

.three-star::before {
  content: url(../images/rating-icon/rating-3-star.svg);

  display: block;
  width: 140px;
  height: 37px;
}

.two-star::before {
  content: url(../images/rating-icon/rating-2-star.svg);

  display: block;
  width: 140px;
  height: 37px;
}

/* pagination */
.catalog-pages-list {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-pages-item {
  width: 60px;

  background-color: #82b3d3;
  border-radius: 4px;
}

.catalog-pages-item.active {
  background-color: #f2f2f2;
}

.catalog-pages-item:not(:last-of-type) {
  margin-right: 8px;
}

.catalog-pages-link {
  display: block;
  box-sizing: border-box;
  height: 60px;
  padding: 12px 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.catalog-pages-item.active .catalog-pages-link {
  color: #000000;
}
